<a href="https://colab.research.google.com/github/khanhpt74/-n-/blob/main/baitaptrenlopp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

truy cập phần tử list

In [2]:
list1 = ['dola', 'vnd', 200 , 100]
list2 = [1, 2, 3, 4, 5,]
list3 = ["a", "b", "c", "d"]
print("list1[0]: ", list1[0]) #truy cập hần tử list 
print("list2[1:4]:", list2[1:5])

list1[0]:  dola
list2[1:4]: [2, 3, 4, 5]

thay đổi giá trị phần tử list

In [6]:

list = [1, 2, 3, 4, 5,]

print("Value available ai index 2 : ")
print(list[2])
list[2] = 7
print("new value availableat index 2 : ")
print(list[2])

Value available ai index 2 :
3
new value availableat index 2 :
7

xóa phần tử list

In [8]:
list1 = ['dola', 'vnd', 200 , 100] 
print(list1)
del list1[2] # xóa 1 phần tử list 
print("After deleting value at index 2 : ")
print(list1)

['dola', 'vnd', 200, 100]
After deleting value at index 2 :
['dola', 'vnd', 100]

khởi tạo list

In [10]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup1 = ()
tup1 = (50,)

Thao tác với Tuples - Truy cập các phần tử của Tuples

In [11]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

Thao tác với Tuples - Thay đổi giá trị phần tử của Tuples

In [12]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

Thao tác với Tuples - Xóa phần tử của Tuples

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup)

Thao tác với Dictionary - Khởi tạo và truy cập Dictionary

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

Thao tác với Dictionary - Thay đổi giá trị phần tử của
Dictionary

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry
print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

Thao tác với Dictionary - Xóa phần tử của Dictionary

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name'
dict.clear() # remove all entries in dict
del dict # delete entire dictionary

Kiểu Set (kiểu tập hợp)

In [ ]:
# Same as {"a", "b", "c"}
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
# Adding element to the set
Set.add("d")
print("\nSet after adding: ")
print(Set)

Thao tác với Set - Thêm phần tử

In [ ]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

Thao tác với Set - Bớt phần tử

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

Thao tác với Set - Xóa toàn bộ

In [ ]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
# This method will remove
# all the elements of the set
set1.clear()
print("\nSet after using clear() function")
print(set1)
#Initial set
#{1, 2, 3, 4, 5, 6}
#Set after using clear() function
#set()

Thao tác với Set - Phép hợp

In [ ]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
# Union using union() function
population = people.union(vampires)
print("Union using union() function")
print(population)
# Union using "|" operator
population = people|dracula
print("\nUnion using '|' operator")
print(population)
#Union using union() function
#{'Jay', 'Karan', 'Idrish', 'Arjun', 'Archil'}
#Union using '|' operator
#{'Jay', 'Raju', 'Deepanshu', 'Idrish', 'Archil'}

Thao tác với Set - Phép giao

In [ ]:
set1 = set()
for i in range(5):
set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Intersection using intersection() function
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
# Intersection using "&" operator
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)
#Intersection using intersection() function
#{3, 4}
#Intersection using '&' operator {3, 4}

Thao tác với Set - Phép hiệu

In [ ]:
set1 = set()
for i in range(5):
set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Difference of two sets using difference() function
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
# Difference of two sets using '-' operator
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)
#Difference of two sets using difference() function
#{0, 1, 2}
#Difference of two sets using '-' operator {0, 1, 2}

Thao tác với Set - Kiểm tra tập con - tập cha

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)
#True
#True

Thao tác với Date&Time - Lấy thời gian hiện tại

In [ ]:
import time; # This is required to include time module.
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
#Number of ticks since 12:00am, January 1, 1970: 7186862.73399
localtime = time.localtime(time.time())
print("Local current time :", localtime)
#Local current time : time.struct_time(tm_year=2013, tm_mon=7,
#tm_mday=17, tm_hour=21, tm_min=26, tm_sec=3,
#tm_wday=2, tm_yday=198, tm_isdst=0)

Thao tác với Date&Time - Định dạng thời gian

In [ ]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)
#Local current time : Tue Jan 13 10:17:09 2009

Thao tác với Date&Time - Lấy lịch 1 tháng

In [ ]:
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)
#Here is the calendar:
# January 2008
#Mo Tu We Th Fr Sa Su
# 1 2 3 4 5 6
# 7 8 9 10 11 12 13
#14 15 16 17 18 19 20
#21 22 23 24 25 26 27
#28 29 30 31