<a href="https://colab.research.google.com/github/khanhpt74/-n-/blob/main/phan_tich_anova_1_chieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PHÂN TÍCH ANOVA 

Tham khảo:

(1) [ONE-WAY ANOVA](https://www.pythonfordatascience.org/anova-python/)

(2) [ANOVA using Python (with examples)](https://www.reneshbedre.com/blog/anova.html)

(3) [Hướng dẫn phân tích ANOVA bằng gói statsmodels](https://www.statsmodels.org/stable/examples/notebooks/generated/interactions_anova.html)

QUY TRÌNH PHÂN TÍCH ANOVA MỘT CHIỀU

Kiểm tra các giả định:

- Các mẫu độc lập với nhau
- Các mẫu có cùng phương sai
- Các mẫu đều tuân theo phân phối chuẩn

Xây dựng giả thuyết

$$H_{0}: \mu_{0} = \mu_{1} = ... = \mu_{n}$$
$$H_{a}: \text{Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau}$$

Giá trị thống kê F được sử dụng trong việc ra quyết định của phân tích ANOVA một chiều. Công thức tính như sau:

$$F = \frac{MS_{B}}{MS_{W}}$$

với:

- $MS_{B} = \frac{\sum_{k}n_{k}(\overline{\rm x_{k}} - \overline{\rm x})^{2}}{k - 1}$
- $MS_{W} = \frac{\sum_{k}n_{i,k}( x_{i,k} - \overline{\rm x})^{2}}{k - 1}$

Loại bỏ giả thuyết $H_{0}$ khi chỉ số F > chỉ số F-critical (hoặc giá trị p tương ứng < 0.05!!!???)

Ví dụ về phân tích ANOVA một chiều

In [ ]:
import pandas as pd

#ĐỌc dữ liệu
df = pd.read_csv("https://raw.githubusercontent.com/researchpy/Data-sets/master/difficile.csv")
df.head()

   person  dose  libido
0       1     1       3
1       2     1       2
2       3     1       1
3       4     1       1
4       5     1       4

In [ ]:
#Loại bỏ cột person, theo bạn thì lý do tại sao?
df.drop('person', axis= 1, inplace= True)
df.head()

   dose  libido
0     1       3
1     1       2
2     1       1
3     1       1
4     1       4

In [ ]:
#Chuyển đổi giá trị cột dose từ 'định lượng' sang định tính
df['dose'].replace({1: 'placebo', 2: 'low', 3: 'high'}, inplace= True)
df.head()

      dose  libido
0  placebo       3
1  placebo       2
2  placebo       1
3  placebo       1
4  placebo       4

In [ ]:
import numpy as np
#Chuyển đổi df thành dạng phù hợp để phân tích ANOVA một chiều theo gói scipy.stats
high = low =  placebo = []
high = df['libido'][df['dose'] == 'high']
low = df['libido'][df['dose'] == 'low']
placebo = df['libido'][df['dose'] == 'placebo']
print(high)

10    7
11    4
12    5
13    3
14    6
Name: libido, dtype: int64

In [ ]:
print(low)

5    5
6    2
7    4
8    2
9    3
Name: libido, dtype: int64

In [ ]:
print(placebo)

0    3
1    2
2    1
3    1
4    4
Name: libido, dtype: int64

In [ ]:
import scipy.stats as stats

stats.f_oneway(high,
               low,
               placebo)

F_onewayResult(statistic=5.11864406779661, pvalue=0.024694289538222603)

p = 0.02 << 0.05 nên...????

In [ ]:
#Bài tập: Bạn hãy nối 3 list high, low, placebo ở trên vào trong 1 dataframe có 3 cột mỗi cột có tên là high, low, placebo
#Code here