<a href="https://colab.research.google.com/github/khanhpt74/-n-/blob/main/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print First 10 natural numbers using while loop

In [ ]:
k = int(input())

while k > -1:
     print('k =', k)
     k -= 1

10
k = 10
k = 9
k = 8
k = 7
k = 6
k = 5
k = 4
k = 3
k = 2
k = 1
k = 0

Exercise 2: Print the following pattern

In [ ]:
for i in range (5,0,-1):  # for i in range (số đầu tiên , tới số cuối cùng)
  for z in range (i,0,-1): 
    if z == 1:
      print(z)
    else:
      print(z, end=' ')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [ ]:
print("hay nhap so can tinh ")
s = 0 
n = int(input())
for i in range (1, n + 1, 1):
  s += i
print("ket qua la", s)

hay nhap so can tinh
7
ket qua la 28

Exercise 4: Write a program to print multiplication table of a given number with natural numbers
from 1 to 10.

In [ ]:
n =  int(input("nhập vào một số: "))
# sử dụng hàm lập 
for i in range (1,11):
  for j in range (1,11):
    print(i," x ",j," = ",i*j)

nhập vào một số: 1
1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
1  x  5  =  5
1  x  6  =  6
1  x  7  =  7
1  x  8  =  8
1  x  9  =  9
1  x  10  =  10
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70
8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
8  x  10  =  80
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81
9  x  10  =  90
10  x  1  =  10
10  x  2  =  20
10  x  3  =  30
10  x  4  =  40
10  x  5  =  50
10  x  6  =  60
10  x  7  =  70
10  x  8  =  80
10  x  9  =  90
10  x  10  =  100

Exercise 5: Display numbers from a list using loop

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
for i in range(0,len(a)):
  print("a[",i,"]=",a[i])

a[ 0 ]= 1
a[ 1 ]= 2
a[ 2 ]= 3
a[ 3 ]= 4
a[ 4 ]= 5
a[ 5 ]= 6
a[ 6 ]= 7
a[ 7 ]= 8
a[ 8 ]= 9

Exercise 6: Count the total number of digits in a number

In [ ]:
print("hay nhap so can dien vao ")
a = int(input())
d = 0 
b = str(a) 
for c in b:
  d = d+1
print(d)

hay nhap so can dien vao
2771834629
10

Exercise 7: Print list in reverse order using a loop

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
i = len(a)-1
while i>-1:
  print("a[",i,"]=",a[i])
  i = i-1

a[ 8 ]= 9
a[ 7 ]= 8
a[ 6 ]= 7
a[ 5 ]= 6
a[ 4 ]= 5
a[ 3 ]= 4
a[ 2 ]= 3
a[ 1 ]= 2
a[ 0 ]= 1

Exercise 8: Display numbers from -10 to -1 using for loop

In [ ]:
i = -10
while i < 0:
  print(i)
  i = i+1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 9: Use else block to display a message “Done” after successful execution of for loop

In [ ]:
i = -10
while i < 0:
  print(i)
  i = i+1
  if(i ==0):
    print("done")

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
done

Exercise 10: Write a program to display all prime numbers within a range